* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #e0f7fa, #fce4ec);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD */
.container {
    background: #fff;
    width: 90%;
    max-width: 900px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #0b687d;
    font-size: 26px;
}

/* ADD BUTTON */
.add-btn {
    background: linear-gradient(90deg, #0b687d, #0891b2);
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.add-btn:hover {
    background: linear-gradient(90deg, #0891b2, #0b687d);
    transform: scale(1.05);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: linear-gradient(90deg, #0b687d, #0891b2);
    color: white;
}

thead th {
    padding: 14px;
}

tbody tr:nth-child(even) {
    background: #f1f8ff;
}

tbody tr:hover {
    background: #d7f0f7;
}

tbody td {
    padding: 14px;
    text-align: center;
    color: #333;
}
/* ACTION BUTTONS */

.edit-btn {
    background: #0ea5e9;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.edit-btn:hover {
    background: #0284c7;
}

.delete-btn {
    background: #ef4444;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.delete-btn:hover {
    background: #dc2626;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.add-btn {
    background: linear-gradient(90deg, #0b687d, #0891b2);
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.add-btn:hover {
    background: linear-gradient(90deg, #0891b2, #0b687d);
}
