body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {

    background: #fff;
    width: 850px;
    height: 500px;
    display: flex;
    border-radius: 12px;
    /* overflow: hidden; */
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


/* Left side */
.left-side {
    width: 50%;
    position: relative;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-side .logo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

/* Right side */
.right-side {
    width: 50%;
    padding: 50px;
    text-align: center;
}

.right-side h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

form button {
    width: 100%;
    padding: 14px;
    background: hsl(61, 84%, 49%);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}

.forgot {
    display: block;
    margin: 10px 0;
    color: #777;
    text-decoration: none;
}

.divider {
    margin: 15px 0;
    color: #999;
}

.social-buttons button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.fb { background: #3b5998; color: white; }
.google { background: #db4437; color: white; }

.signup {
    margin-top: 15px;
}

.signup a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}







.signup {
    margin-top: 20px;
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.register-btn {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 150px;
    padding: 10px 0;
    top: 20px;
    left: 0;
    z-index: 5;
}

.dropdown-menu a {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.dropdown-menu a:hover {
    background: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

